*{
    margin: 0px;
    padding: 0px;
}
body{
background-image: url(img/img-fondo1.jpg);
height: 100%;
}

.img-cont img{
    /* opacity: 0.8;  */
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    /* background-size: 100% auto; */
    /* width: 85%; */
    height: 32vh;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#container-b{
    margin: auto;
    width: 80%;
    height: 100%;
}

.title-q{
    font-family: 'IM Fell Great Primer', serif;
    color: white;
        -webkit-animation-name:parpadeo;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        }
        @keyframes parpadeo {  
                      0% { opacity: 1.0; }
                      50% { opacity: 0.0; }
                      100% { opacity: 1.0; }
                    }
   
.fa-facebook{
    color: blue;
}    /* background: rgba(0,0,0,.5);  */


.fa-twitter{
    color: rgb(6, 217, 254);
}

.fa-youtube{
    color: red;
}

.iconos{
   background: rgba(0,0,0,.5);    
    text-align: center;
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 0px;
}

.navbar-header{
    text-align: center;
    width: 100%;
    background-color: black;
}

.collapsible-header{
    background: rgb(0, 0, 0);    
    
}

.answer{
    margin-bottom: 2%;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}