body{
background-color: black;
}

.container-img .img-cont{
    width: 100%;
    height: 30%;
}

.img1{
    width: 100%;
}
#container-b{
    margin: auto;
    width: 80%;
    height: 80%;
}

.fa-facebook{
    color: blue;
}

.fa-twitter{
    color: rgb(6, 217, 254);
}

.fa-youtube{
    color: red;
}

.iconos{
    margin-top: 20%;
}