body{
background-color: black;
}

.img-cont img{
    width: 85%;
    height: 32vh;

}

#container-b{
    margin: auto;
    width: 80%;
    height: 80%;
}

.title-q{
    font-family: 'IM Fell Great Primer', serif;
    color: blue;
        -webkit-animation-name:parpadeo;
             -webkit-animation-duration: 5s;
             -webkit-animation-timing-function: linear;
             -webkit-animation-iteration-count: infinite;
        }
        @keyframes parpadeo {  
                      0% { opacity: 1.0; }
                      50% { opacity: 0.0; }
                      100% { opacity: 1.0; }
                    }
   
.fa-facebook{
    color: blue;
}

.fa-twitter{
    color: rgb(6, 217, 254);
}

.fa-youtube{
    color: red;
}

.iconos{
    margin-top: 15%;
}